body{
    font-family: 'Righteous', cursive;
}
h1{
    text-align: center;
}
nav{
margin-bottom: 20px;
box-shadow:0px 2px 4px #333;
margin-bottom: 0px;
}
.titles{
    width: 100%;
    background-color:rgb(52, 58, 64);
    /* background-color:rgb(32, 99, 187); */
    color:white;
    
}